body {
  font-family: "Inter", system-ui;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

.photo-container {
  width: 35%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.navbar {
  position: absolute;
  padding: 0 10%;
  top: 0;
  width: 80%;
  height: 85px;
  background-color: #b7e0ff;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  justify-content: start;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.navbar > h1 {
  font-size: 20px;
  font-weight: 600;
}

.box-photo {
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  padding: 10px;
  width: 225px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  border-radius: 20px;
  aspect-ratio: 1;
  width: 225px;
}

.section-identity {
  width: 65%;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.identity-container {
  width: calc(100% - 80px);
  height: 200px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  gap: 10px;
}

.identity-data {
  font-size: 15px;
  margin: 0px;
}

.logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: calc(100% - 40px);
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  border: black;
  border-width: 0px;
  border-style: solid;
  background-color: rgb(255, 70, 70);
  transition: all;
  transition-duration: 200ms;
}

.logout-button:hover {
  cursor: pointer;
  background-color: rgb(255, 82, 82);
}

.button-text {
  color: white;
}
